{% load static %}

<html lang ="jp">
  <head>
    <meta charset="utf-8">
    <title>project select</title>
    <link href="{% static 'daw/css/index.css' %}"rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
    <body>
      <div class="main">
        <header class="Top_title">
            <h1>Project select</h1>
        </header>
        <div class="user_name">
            <p>ようこそ {{ user.get_username }} さん</p>
            <p><a href="{% url 'account_logout' %}">ログアウト</a></p>
        </div>
        <div class="project_select">
            <a href="{% url 'daw_start' %}">
              <p class="project_item">Create New
                <br>
                <img src="{% static 'daw/images/piano.svg' %}" width="150" height="150">
              </p>
            </a>
            <p class="project_item">Open Project
            <img src="{% static 'daw/images/music_icon.svg' %}" width="150" height="150">
            </p>
        </div>
      </div>
    </body>
</html>
